fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.41

aiosqlite==0.21.0
alembic==1.16.1
pydantic==2.11.5
pydantic-settings==2.9.1
httpx==0.28.1
groq==0.23.1
python-multipart==0.0.20
python-dotenv==1.1.0
networkx==3.5
pytest==8.3.5
pytest-asyncio==0.25.3
